html, body {
  background: red;
  scroll-behavior: smooth;
  background-color: #E6E6E6;
  color: #111;
  font-size: 100%;
  font-family: sans-serif;
  /* min value */
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  /* font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*-webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;*/
}

@media screen and (min-width: 400px) {
  html, body {
    /* scaling from min to max value */
    font-size: calc(18px + 12 * ((100vw - 400px) / 2600));
    /*line-height: calc(18px + 24 * ((100vw - 400px) / 2600));*/
    letter-spacing: calc(0px + .2 * ((100vw - 400px) / 2600));
  }
}

@media screen and (min-width: 3000px) {
  html, body {
    /* max value */
    font-size: 30px;
    /*line-height: 42px;*/
    letter-spacing: .2px;
  }
}

html * {
  box-sizing: border-box;
}

body {
  display: block;
  //max-width: 38rem;
  //margin: 1rem auto;
}

/* --- Main --- */

main {
  //max-width: 38rem;
  //margin: 1rem auto;
  background: white;
}

@media screen and (min-width: 1000px) {
  main {
    max-width: calc( 100vw - 20rem);
    margin: 1rem auto;
  }
}

/* --- Navigation --- */

nav.sub-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 100;
  a {
    display: block;
    flex: 0 0 auto;
    margin-right: .5rem;
    padding: .2rem;
  }
  .nav-section {
    border-bottom: 1px solid blue;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  nav.sub-nav {
    max-width: 10rem;
    background: red;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    a {
      margin: 0;
    }
  }
}

/* --- Sections --- */

section {
  &#intro-text, &#main-text {
    max-width: 30rem;
  }
  &#index {
    max-width: 60rem;
  }
  &#persons {
    max-width: 60rem;
  }
  &#sources {
    max-width: 60rem;
  }
  &#images {
    max-width: 60rem;
  }
}

a,p,h1,h2,h3,h4,h5,h6 {
  color: #111;
  font-weight: normal;
  font-style: normal;
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 6rem;
  margin-bottom: 1rem;
  /*text-transform: uppercase;*/
}

p {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  max-width: 30rem;
  /*
  margin-bottom: 1rem;
  margin: 1rem 1rem 1rem 2rem;
  */
  font-family: 'Times New Roman', serif;
}

p>.count {
  /*color: grey;*/
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: .4rem;
  /*padding: 0 .2rem .2rem 0;*/
  text-indent: 0;
  display: block;
  transform: translate(0, -80%);
}

p+p {
  /*text-indent: 4rem;*/
  margin-top: .7rem;
}

a, a:link, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  color: rgb(0,0,250);
}

table tr {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid rgb(0,0,0,.5);
  padding: .25em 0;
}

table tr:last-child {
  border-bottom: 1px solid rgb(0,0,0,.5);
}

table tr td {
  display: block;
  flex: 1 1 0;
}

figure {
  display: block;
}

figcaption {
  display: block;
  font-size: .7rem;
}

img {
  display: block;
  min-height: 200px;
  height: 50vh;
  max-height: 600px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
}

blockquote, blockquote * {
  font-style: italic;
  margin-left: 0;
}
